body{
    margin:0;
    padding:0;
}
header{
    background-color: black;
    color: white;
    padding: 16px 0;
    text-align: center;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
    margin-right: 25PX;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
#products{
    display: flex;
    justify-content: space-around;

}
.product{
    border: 3px solid;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;

}
button{
    background-color:  rgb(0, 0, 0);
    border-radius: 5px;
    color: red;
    padding: 10px;
    border: none;
}
button:hover{
    background-color:  red;

} 
footer{
    background-color: black;
    text-align: center;
    color: wheat;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
div a{
    color: white;
    text-decoration: none;
}